body {
  background-color: #fef0e1;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.video {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 400px;
}

.downloads {
  text-align: center;
  height: 200px;
  line-height: 200px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
