body {
  background-color: #fbcb97;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  background-color: #fd4b4b;
  color: white;
}

.video {
  margin-top: 90px;
}

.downloads {
  width: 560;
}

.downloads .sigsheet {
  width: 50%;
  position: absolute;
  top: auto;
}

.downloads .ordinance {
  position: absolute;
  top: auto;
  width: 50%;
  left: 50%;
}
